# === PostgreSQL ===
POSTGRES_USER=ipbd_user
POSTGRES_PASSWORD=ipbd_pass
POSTGRES_DB=pipeline_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# === MinIO ===
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_pass123
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=minio_pass123

# === Kafka ===
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_XAUUSD=xauusd_raw

# === MT5 ===
MT5_LOGIN=123456
MT5_PASSWORD=yourpass
MT5_SERVER=ICMarkets-Demo
MT5_SYMBOL=XAUUSD

# === Airflow ===
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://ipbd_user:ipbd_pass@postgres:5432/pipeline_db

# === MLflow ===
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_ARTIFACT_S3_ENDPOINT_URL=http://minio:9000
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
AWS_ACCESS_KEY_ID=minio_admin
AWS_SECRET_ACCESS_KEY=minio_pass123
MLFLOW_BACKEND_STORE_URI=postgresql://ipbd_user:ipbd_pass@postgres:5432/pipeline_db
MLFLOW_DEFAULT_ARTIFACT_ROOT=s3://mlflow-artifacts/

# === Trino ===
TRINO_HOST=trino
TRINO_PORT=8082

# === Grafana ===
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# === Telegram Alert ===
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# === Streamlit Auth ===
STREAMLIT_AUTH_USERNAME=admin
STREAMLIT_AUTH_PASSWORD=admin123
