# Environment
.env
.env.najma
*.env.local

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/

# Data
data/
!data/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# MLflow artifacts (local runs)
mlruns/

# Spark temp
spark-warehouse/
metastore_db/
derby.log
